[submodule "piers/skin.arctic.zephyr.martian.tjf"]
	path = piers/skin.arctic.zephyr.martian.tjf
	url = ../skin.arctic.zephyr.martian.tjf
	branch = Piers
[submodule "piers/plugin.video.themoviedb.helper"]
	path = piers/plugin.video.themoviedb.helper
	url = ../../jurialmunkey/plugin.video.themoviedb.helper
[submodule "piers/script.module.jurialmunkey"]
	path = piers/script.module.jurialmunkey
	url = ../../jurialmunkey/script.module.jurialmunkey
[submodule "piers/script.module.infotagger"]
	path = piers/script.module.infotagger
	url = ../../jurialmunkey/script.module.infotagger
